---
// @ts-ignore
import { getCollection, getEntry } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");

console.log(allBlogPosts);
---

<html>
  <body>
    <h1>Blog Posts</h1>

    <ul>
      {
        allBlogPosts.map(post => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
