---
import BaseHead from "../components/arefu/BaseHead.astro";

import Intro from "../components/hetto/Intro.astro";
import Quotes from "../components/hetto/Quotes.astro";
import AboutMe from "../components/hetto/AboutMe.astro";
import Projects from "../components/hetto/Projects.astro";
import ContactMe from "../components/hetto/ContactMe.astro";

import { getCollection } from "astro:content";
import Navbar from "../components/arefu/Navbar.astro";

const allBlogPosts = await getCollection("blog");
---

<html lang="en">
  <head>
    <BaseHead title="Home Page" description="The home page for my site" />
  </head>

  <body transition:animate="morph">
    <Navbar />
    <div transition:animate="slide">
      <Intro />
      <br />
      <a href="/quotes">Quotes</a>
      <Quotes />
      <br />
      <AboutMe />
      <br />
      <a href="/projects">Projects</a>
      <Projects />
      <br />
      <ContactMe />
      <br />
      {
        allBlogPosts.map(post =>
          <div>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            <p>{post.body}</p>
          </div>
        )
      }
      <br />
    </div>
  </body>
</html>
