---
import BaseHead from "../components/arefu/BaseHead.astro";
// @ts-ignore: ts(2440)
import Projects from "../components/hetto/Projects.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Projects"
      description="A list of projects I've worked on"
    />
  </head>
  <body>
    <Projects />
  </body>
</html>
