---
import BaseHead from "../components/arefu/BaseHead.astro";
import Navbar from "../components/arefu/Navbar.astro";
// @ts-ignore: ts(2440)
import Projects from "../components/hetto/Projects.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Projects"
      description="A list of projects I've worked on"
    />
  </head>
  <body transition:animate="morph">
    <Navbar />
    <div transition:animate="slide">
      <Projects />
    </div>
  </body>
</html>
