---
import BaseHead from "../components/arefu/BaseHead.astro";
import Navbar from "../components/arefu/Navbar.astro";
// @ts-ignore: ts(2440)
import Quotes from "../components/hetto/Quotes.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Quotes" description="A collection of quotes that I like" />
  </head>
  <body transition:animate="morph">
    <Navbar />
    <div transition:animate="slide">
      <Quotes />
    </div>
  </body>
</html>
