---
export interface Props {
  msg?: string;
}

let { msg } = Astro.props;
---

<br />
<p class="">
  <button class="btn !btn-error no-animation !btn-active" disabled="disabled">
    todo!({!!msg && '"' + msg + '"'});
  </button>
</p>
<br />
